My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4e6a9881-710c-4976-9427-3e58cb3a6c06",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.github.com/users/octocat",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "ebbbbddd-da50-475c-961c-eebe270364c0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f50e1bab-b6b1-4ee5-ba8c-dba56f17edbc",
              "leftValue": "={{$json[\"followers\"]}}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "0fadabd6-dd03-46bd-8dce-b460f40c2dcf",
              "leftValue": "={{$json[\"public_repos\"]}}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "e446c278-bc60-4481-bc1f-7e0f8ef47caf",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df666df3-655f-4179-b4a9-fd8595c664f9",
              "name": "name",
              "value": "={{$json[\"name\"]}}",
              "type": "string"
            },
            {
              "id": "012dae35-b802-4e21-b73c-a5691398a832",
              "name": "bio",
              "value": "={{$json[\"bio\"]}}",
              "type": "string"
            },
            {
              "id": "60a27e8d-bed5-41dd-bef3-b8fafa66cdf3",
              "name": "company",
              "value": "={{$json[\"company\"]}}",
              "type": "string"
            },
            {
              "id": "5bf266c2-1315-4897-81d0-432bc1afa6f4",
              "name": "message",
              "value": "High-value lead detected",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -96
      ],
      "id": "94c24c85-0f6d-4a58-9503-ac813d1d6311",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6445746a-528b-4e8c-b0df-2b90d9386b65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f13ace9912aeacac7d5cf2285b1d191cd8347fc80ef62318757beb5eb50dcb65"
  },
  "id": "NpTotbWYJOdrzeI4",
  "tags": []
}